.pricingCard:hover {
  opacity: 0.8;
  transform: scale(1.08);
}
.pricingCard {
  object-position: contain;
  transition: transform 600ms;
  transition: 0.5s ease;
  background: red;
  backface-visibility: hidden;
}
