.video {
  width: auto;
  height: -webkit-fill-available;
}
.videopage {
  display: flex;
  justify-content: center;
  background: black;
}
.videopage:hover .back_button {
  opacity: 1;
  transition: all 800ms;
}
.back_button {
  background: transparent;
  font-size: 40px;
  color: white;
  height: 0px;
  width: 50px;
  opacity: 0;
  border: transparent;
}
